@model IEnumerable<mosh_practice.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Customer</h2>
@Html.ActionLink("Create New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })

<table id="customers" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
            
    </tbody>
</table>


@section scripts
{
    <script>

        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name", //第一欄使用data中的name
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>




